<h2><%= @meditation.user ? "<a href='#{@meditation.user.id}'>" + @meditation.user.name + "</a>'s" : "Your"%> results</h2>
<div id="bpm">
  Average breaths per minute: <span class="time"><%= @meditation.bpm %></span>
</div>
<div id="stats_summary">
  <table>
    <%= erb :table_header %>
    <tr><%= @meditation.table_row %></tr>
  </table>
</div>
<div id="invite">
  <a href="/">Think U can do better? Try a meditation!</a>
</div>