<script>
MAX_BREATHS = <%= @breaths %>;
</script>

<div id="prompt">
Begin to breathe deeply. <br>Breathe as long, deep, and soft as possible. <br>To begin, press Space at the end of an exhale.
</div>
<div id="timer_display">
</div>
<div id="stat_display">
</div>