<h1>Summary for <%= @user.name %></h1>

<%= @user.stats_summary %>

<h2>All meditations:</h2>
<table>
  <%= erb :table_header %>
  <% @user.meditations.each do |meditation| %>
    <tr><%= meditation.table_row %></tr>
  <% end %>
</table>